.gridContainer {
  background-color: #fff;
  color: #000;
  font-family: Arial, Helvetica,Nanum Gothic, sans-serif !important;
  font-size: 16px !important;
  line-height: 1.6em !important;
  margin: 0 auto !important;
  padding: 0;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 5 1fr;
  grid-template-rows: 10 1fr;
  grid-auto-rows: minmax(0px auto);
  grid-gap: 0.1em;
  /* width */
  /* Track */ }
  .gridContainer ::-webkit-scrollbar {
    width: 7px; }
  .gridContainer ::-webkit-scrollbar-track {
    background: rgba(50, 88, 240, 0.2); }
  .gridContainer .lead {
    font-size: 1.25rem !important;
    font-weight: 300 !important; }
  .gridContainer .gridContainer__Header {
    background-color: rgba(50, 88, 240, 0.2);
    padding: 2em;
    grid-column: 1/10;
    /*.container__nav {
          position: relative;
          bottom: 90px;
          margin-left: 15em;
          margin-right: 15em;
          
         
          
          


        }*/ }
    .gridContainer .gridContainer__Header .titulo {
      background: #fff;
      background: -moz-linear-gradient(left, #fff 0%, #1C6EA4 41%, #2B6EFF 100%);
      background: -webkit-linear-gradient(left, #fff 0%, #1C6EA4 41%, #2B6EFF 100%);
      background: linear-gradient(to right, #fff 0%, #1C6EA4 41%, #2B6EFF 100%);
      margin-top: 2%;
      margin-right: 65%;
      padding-left: 7.7%;
      margin-left: 2%;
      transform: skewX(-23deg);
      border: 5px outset #1C6EA4;
      -webkit-box-shadow: #289fed 5px 5px 0px 0px, #5fb8ff 10px 10px 0px 0px, #a1d8ff 15px 15px 0px 0px, #cae6ff 20px 20px 0px 0px, #e1eeff 25px 25px 0px 0px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      box-shadow: #289fed 5px 5px 0px 0px, #5fb8ff 10px 10px 0px 0px, #a1d8ff 15px 15px 0px 0px, #cae6ff 20px 20px 0px 0px, #e1eeff 25px 25px 0px 0px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      width: 15%; }
      .gridContainer .gridContainer__Header .titulo .titulo__H1 {
        font-size: 58px;
        position: relative;
        right: 20px; }
      .gridContainer .gridContainer__Header .titulo .titulo__Link {
        color: rgba(240, 19, 20, 0.8);
        text-decoration: none;
        overflow: hidden; }

@keyframes bike {
  0% {
    transform: translateX(0); }
  20% {
    transform: translateX(2px); }
  40% {
    transform: translateX(4px); }
  60% {
    transform: translateX(6px); }
  80% {
    transform: translateX(8px); }
  100% {
    transform: translateX(10px); } }
      .gridContainer .gridContainer__Header .titulo .titulo__H1:hover {
        animation-duration: 1.2s;
        animation-name: bike;
        animation-timing-function: step-start;
        animation-iteration-count: 2;
        animation-delay: 0.4s; }
    .gridContainer .gridContainer__Header .slogan {
      position: relative;
      bottom: 50px;
      padding-left: 20%;
      width: 80%;
      color: #5892f5; }
      .gridContainer .gridContainer__Header .slogan .slogan__H5 {
        word-spacing: 3px;
        font-weight: 800;
        font-size: 16px;
        border-color: #5892f5;
        border-style: solid;
        border-radius: 4px;
        border-width: 3px;
        text-align: center; }
    .gridContainer .gridContainer__Header .nav {
      position: relative;
      bottom: 50px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding-right: 20%;
      padding-left: 20%;
      list-style: none; }
    .gridContainer .gridContainer__Header .nav-link {
      border: solid 1px !important;
      border-color: #0d6efd !important; }
    .gridContainer .gridContainer__Header .nav-link:hover {
      color: #fff;
      background-color: #0d6efd;
      border-color: #dee2e6 #dee2e6 #fff; }
  .gridContainer .gridContainer__Showcase {
    background: linear-gradient(180deg, rgba(20, 20, 20, 0.53) 0%, rgba(50, 88, 240, 0.2) 1.1%, rgba(50, 88, 240, 0.2) 98%, rgba(20, 20, 20, 0.53) 100%);
    padding: 0.1em;
    grid-column: 1/10; }
    .gridContainer .gridContainer__Showcase .gridContainer__Showcase--Info {
      color: #f3eaea;
      font-size: 25px;
      line-height: 1.6em;
      font-weight: 600; }
    .gridContainer .gridContainer__Showcase .gridContainer__Showcase--Info:hover {
      transform: scale(1.2); }
    .gridContainer .gridContainer__Showcase .gridContainer__Showcase--span {
      color: #fff;
      border: solid 1px rgba(50, 88, 240, 0.2); }
    .gridContainer .gridContainer__Showcase .titulo--showcase-PG5 {
      color: #2d60b9fd;
      text-align: center; }
  .gridContainer .gridContainer__Sidebar {
    background-color: rgba(50, 88, 240, 0.1);
    padding: 2em;
    grid-column: 1/2;
    min-width: 100px;
    overflow: auto;
    overflow-x: hidden; }
    .gridContainer .gridContainer__Sidebar .tituloFiltro {
      color: #1037d3; }
    .gridContainer .gridContainer__Sidebar .tituloSidebar {
      color: #3258f0; }
    .gridContainer .gridContainer__Sidebar .sidebarProd {
      background-color: rgba(64, 64, 64, 0.6);
      color: blue;
      border: 1px solid rgba(64, 64, 64, 0.6);
      display: flex;
      width: 100%;
      flex-direction: column;
      flex-wrap: nowrap;
      text-align: center;
      border-radius: 5px;
      margin-top: 1.5em; }
    .gridContainer .gridContainer__Sidebar .sidebarProd__box1 {
      flex: 1;
      order: 1;
      border-bottom: solid 1px rgba(64, 64, 64, 0.8); }
    .gridContainer .gridContainer__Sidebar .sidebarProd__box2 {
      flex: 1;
      order: 3;
      border-bottom: solid 1px rgba(64, 64, 64, 0.8); }
    .gridContainer .gridContainer__Sidebar .sidebarProd__box3 {
      flex: 1;
      order: 2;
      border-bottom: solid 1px rgba(64, 64, 64, 0.8); }
    .gridContainer .gridContainer__Sidebar .sidebarProd__box4 {
      flex: 1;
      order: 4;
      border-bottom: solid 1px rgba(64, 64, 64, 0.8); }
    .gridContainer .gridContainer__Sidebar .sidebarProd__box5 {
      flex: 1;
      order: 5;
      border-bottom: solid 1px rgba(64, 64, 64, 0.8); }
  .gridContainer .gridContainer__Products {
    background-color: rgba(50, 88, 240, 0.138);
    padding: 2em;
    grid-column: 2/10;
    min-width: 100%;
    overflow: auto; }
    .gridContainer .gridContainer__Products .inventarioTitulo {
      color: purple; }
    .gridContainer .gridContainer__Products .inventarioProductos {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-auto-rows: minmax(250px, auto);
      column-gap: 5.5%;
      row-gap: 2.5%;
      overflow-x: hidden; }
    .gridContainer .gridContainer__Products .grid-item {
      justify-items: space-evenly; }
    .gridContainer .gridContainer__Products .grid-item > img:hover {
      transform: scale(1.06); }
    .gridContainer .gridContainer__Products .flex-PG5 {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      column-gap: 100px;
      overflow: hidden;
      min-height: 250px; }
      .gridContainer .gridContainer__Products .flex-PG5 .flex-item {
        flex: 1;
        position: relative;
        padding-bottom: 46.25%;
        height: 0; }
      .gridContainer .gridContainer__Products .flex-PG5 .map-title,
      .gridContainer .gridContainer__Products .flex-PG5 .video-title {
        color: #2d60b9fd;
        flex: 1;
        text-align: center;
        margin-top: 1.5em; }
      .gridContainer .gridContainer__Products .flex-PG5 .video-PG5 {
        border: solid 1px black;
        position: absolute;
        top: 8.2em;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 56.25%; }
  .gridContainer .pagination_Container {
    grid-column: 1/10;
    background: rgba(50, 88, 240, 0.138); }
    .gridContainer .pagination_Container .pagination {
      margin-top: 1.5em;
      justify-content: center; }
  .gridContainer .gridContainer__Footer {
    padding: 2em;
    background: linear-gradient(90deg, rgba(20, 20, 20, 0.53) 0%, rgba(50, 88, 240, 0.2) 1%, rgba(50, 88, 240, 0.2) 99%, rgba(20, 20, 20, 0.53) 100%);
    grid-column: 1/10; }
    .gridContainer .gridContainer__Footer .gridContainer__Footer--Mod {
      color: blueviolet;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-basis: 100%;
      min-height: 200px;
      text-align: center; }
      .gridContainer .gridContainer__Footer .gridContainer__Footer--Mod .footer__Link {
        text-decoration: none;
        color: purple;
        padding-bottom: 10px; }
      .gridContainer .gridContainer__Footer .gridContainer__Footer--Mod .footer__estiloLista {
        list-style: none; }
      .gridContainer .gridContainer__Footer .gridContainer__Footer--Mod .footer__box-1 {
        flex: 1;
        border-right: solid 1px;
        border-color: #96999b; }
      .gridContainer .gridContainer__Footer .gridContainer__Footer--Mod .footer__box-1__label {
        font-weight: 600; }
      .gridContainer .gridContainer__Footer .gridContainer__Footer--Mod .footer__box-1__form {
        text-align: center; }
      .gridContainer .gridContainer__Footer .gridContainer__Footer--Mod .footer__box-1__tituloh4 {
        font-style: italic;
        text-align: center;
        font-weight: 600; }
      .gridContainer .gridContainer__Footer .gridContainer__Footer--Mod .footer__box-1__tituloh6 {
        font-weight: 600;
        margin-top: 1.5em;
        text-align: center; }
      .gridContainer .gridContainer__Footer .gridContainer__Footer--Mod .footer__box-1__ul {
        text-align: center; }
      .gridContainer .gridContainer__Footer .gridContainer__Footer--Mod .footer__box-1__li {
        display: inline;
        padding-right: 35px; }
      .gridContainer .gridContainer__Footer .gridContainer__Footer--Mod .footer__box-2 {
        flex: 1;
        border-right: solid 1px;
        border-color: #96999b; }
      .gridContainer .gridContainer__Footer .gridContainer__Footer--Mod .footer__box-2__ul {
        position: relative;
        right: 15px; }
      .gridContainer .gridContainer__Footer .gridContainer__Footer--Mod .footer__Link:hover {
        text-decoration: underline; }
      .gridContainer .gridContainer__Footer .gridContainer__Footer--Mod .footer__box-3 {
        flex: 1; }
      .gridContainer .gridContainer__Footer .gridContainer__Footer--Mod .footer__box-3__li {
        position: relative;
        right: 15px; }
  @media screen and (min-width: 320px) and (max-width: 768px) {
    .gridContainer .slogan {
      margin-top: 10%; }
    .gridContainer .nav {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding-right: 0;
      padding-left: 0;
      width: 100%;
      list-style: none; }
    .gridContainer .flex-PG5 {
      display: flex;
      flex-direction: column !important;
      justify-content: space-around !important;
      row-gap: 100px !important; } }
