@import "variables";

.gridContainer__Footer {
    background-color: #ddd;
    padding: $padding-main;
    background: linear-gradient(90deg, rgba(20, 20, 20,0.8) 0%, rgba(46,46,46,0.3) 1%, rgba(46,46,46,0.3) 99%, rgba(20, 20, 20,0.8) 100%);
    
    grid-column: 1/10;
    .gridContainer__Footer--Mod {
          color: blueviolet;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-around;
          align-content: center;
          flex-basis: 100%;
          min-height: 250px;
          text-align: center;
            .footer__Link{
                text-decoration: none;
                color: purple;
                padding-bottom: 10px;}
            .footer__estiloLista{
                list-style: none;}
        .footer__box-1 {
            flex: 1;
            border-right: solid 1px;
            border-color: #96999b
             }
            .footer__box-1__label {
                font-weight: $font-semibold;
            }
            .footer__box-1__form {
                text-align: center;}
            .footer__box-1__tituloh4{
                font-style: italic;
                text-align: center;
                font-weight: $font-semibold;}
            .footer__box-1__tituloh6{
                text-align: center;}
            .footer__box-1__ul{
                text-align: center;}
            .footer__box-1__li{
                display: inline;
                padding-right: 35px;}
        .footer__box-2{
            flex: 1;
            border-right: solid 1px;
            border-color: #96999b
        }
            .footer__box-2__ul{
                position: relative;
                right: 15px;}
            .footer__Link:hover {
                text-decoration: underline;}
            .footer__box-3{
                flex: 1;}
            .footer__box-3__li{
                position: relative;
                right: 15px;}
                                        
    }
      
       
}