@import "variables";

@media screen and (min-width : 320px) and (max-width : 768px) {
    .slogan{
      margin-top: 10%;
    }
    .nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        list-style: none; }
    .flex-PG5 {
      display: flex;
      flex-direction: column !important;
      justify-content: space-around !important;
      row-gap: 100px !important;
    }
 
    
  }
