$object-scale20: 1.2;
$object-scale06: 1.06;
$bordercolor-sidebar: rgba(64, 64, 64, 0.8);
$logo-color: rgba(240, 19, 20, 0.8);
$slogan-color: #5892f5;
$title-color:#2d60b9fd;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$padding-main: 1em;
